# compiled code
*.py[co]

# dev env
.DS_Store
.vscode/

# distribution / packaging
build/
dist/
*.egg-info/
.mypy_cache/

# documentation
docs/build/*

# testing
.cache
.coverage*
.pytest_cache/

# textacy
data/
